body {
  font-family: "Acme", regular;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-image: url(./images/arrière\ plan.jpg);
  display: flex;
  height: 100rem;
}

.mid {
  width: 60%;
  height: 100%;
}

.border {
  width: 20%;
  height: 100%;
}

.head {
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  height: 10rem;
}

.logo {
  width: 25%;
  height: 100%;
  text-align: center;
}

.titre-site {
  width: 75%;
  height: 100%;
  padding: 4rem 4rem 0 2rem;
  font-weight: 900;
  font-size: 300%;
  color: black;
  font-family: "Rubik Doodle Shadow", regular;
}

.fil {
  background-color: rgba(27, 30, 27, 0.827);
  width: 100%;
  height: 3rem;
  display: flex;
  padding: 5px;
  gap: 5px;
}

.nom-page {
  background-color: rgba(43, 56, 46, 0.523);
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 6px;
  color: white;
}

.warn {
  background-color: rgba(163, 7, 7, 0.467);
  width: 100%;
  height: 3rem;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  font-family: "montserrat", sans-serif;
}

.contenu {
  background-color: rgba(0, 49, 11, 0.592);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  gap: 10px;
  padding: 10px;
}
.cocktail {
  display: flex;
  width: 100%;
  height: 15rem;
  gap: 15px;
}

.photo {
  width: calc(30%);
  height: 100%;
  border-radius: 3px;
}

.description {
  background-color: rgba(0, 71, 5, 0.258);
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 3px;
}

.texte {
  background-color: pink;
}

.banderole {
  background-color: rgb(27, 30, 27);
  display: flex;
  width: 100%;
  height: 5%;
  padding: 25px;
  gap: 5%;
}

.contact {
  background-color: rgb(68, 126, 68);
  width: 7.5rem;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  padding: 7px;
  color: white;
  font-weight: bold;
  font-size: small;
}

.réseaux-insta {
  width: calc(100% / 4);
  height: 100%;
  text-align: center;
  padding: 5px;
  color: white;
  font-weight: bold;
  background: linear-gradient(to right, purple, rgb(203, 0, 203), red, orange);
  border-radius: 15px;
}

.réseaux-twitter {
  width: calc(100% / 4);
  height: 100%;
  text-align: center;
  padding: 5px;
  color: white;
  font-weight: bold;
  background-color: rgb(58, 114, 255);
  border-radius: 15px;
}

.réseaux-tiktok {
  width: calc(100% / 4);
  height: 100%;
  text-align: center;
  padding: 5px;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
}

.vert {
  color: rgb(84, 196, 84);
  font-weight: bold;
}

h1 {
  font-family: "Rubik Doodle Shadow", regular;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(193, 193, 193);
}

@media screen and (max-width: 800px) {
  .border {
    display: none;
  }
  .mid {
    width: 100%;
  }
  .logo {
    width: 60%;
    height: 80%;
  }
  .titre-site {
    font-size: 120%;
  }
  .cocktail {
    flex-direction: column;
  }
  .description {
    font-size: 80%;
  }
  .contact {
    padding: 8px;
    font-size: 60%;
  }
  .réseaux-insta {
    font-size: 80%;
    padding: 7px;
  }
  .réseaux-tiktok {
    font-size: 80%;
    padding: 7px;
  }
}
